
.App-header {
  flex-wrap: wrap;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.autocomplete {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.kotak { 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bawah {
  object-position: bottom;
}

.thor {
  object-position: top;
}

